@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --vh-dynamic: 1vh;
    --vh100-dynamic: calc(var(--vh-dynamic) * 100);

    @supports (height: 100dvh) {
      --vh-dynamic: 1dvh;
    }
  }

  html,
  body {
    overscroll-behavior-y: none;
    font-weight: 450;
  }
}

@layer components {
  .rich-text {
    '* + *' {
      @apply mt-4;
    }

    h2,
    h3,
    h4 {
      @apply text-xl;
    }

    a {
      @apply underline underline-offset-[0.5] hover:opacity-90;
    }
  }

  .hide-scrollbar {
    msoverflowstyle: 'none';
    overflow: '-moz-scrollbars-none';
    scrollbarwidth: 'none';
    &::-webkit-scrollbar {
      display: 'none';
    }
    &:-webkit-scrollbar {
      display: 'none';
    }
  }

  .text-pretty {
    text-wrap: pretty;
  }
  .text-balance {
    text-wrap: balance;
  }
}
