@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --vh-dynamic: 1vh;
    --vh100-dynamic: calc(var(--vh-dynamic) * 100);

    @supports (height: 100dvh) {
      --vh-dynamic: 1dvh;
    }
  }

  html,
  body {
    overscroll-behavior-y: none;
    font-weight: 450;
    background: #0063c8 !important;
  }
  @media only screen and (min-width: 1600px) {
    html,
    body {
      font-size: calc(100% + 0.075vw);
    }
  }
}

@layer components {
  .rich-text {
    * + * {
      @apply mt-4;
    }

    h2,
    h3,
    h4 {
      @apply text-xl;
    }

    a {
      @apply underline underline-offset-[0.5] hover:opacity-90;
    }
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .text-pretty {
    text-wrap: pretty;
  }
  .text-balance {
    text-wrap: balance;
  }
  .heading-xs {
    @apply text-xs font-bold uppercase;
  }
}
